.box {
    position: fixed;
    font-family: serif;
    font-size: 30px;
    top: 30px;
    left: 30px;
    bottom: 140px;
    right: 30px;
    border: 0px solid #000;
      overflow-y: scroll;
}
.home_btn {
    position: fixed;
    bottom: 30px;
    left: 20px;
    padding: 15px 30px;
    font-size: 40px;
}
.prev_btn { 
    position: fixed;
    bottom: 30px;
    right: 230px;
    padding: 15px 30px;
    font-size: 40px;
}
.next_btn { 
    position: fixed;
    bottom: 30px;
    right: 20px;
    padding: 15px 30px;
    font-size: 40px;
}

.font_word{
    font-size: 50px;  
  }
.font_word::first-letter {
      color: red ;
}

.letter_start{
    text-align: center;
}

.testBorder{
    border: 1px solid #000;

}

.outPopUp {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 45%;
    margin: -100px 0 0 -150px;
  }

.testStyle{
    padding-left: 25%;}

    .outPopUpForPhone {
        position: absolute;
        z-index: 15;
        top: 40%;
        left: 35%;
        margin: -100px 0 0 -150px;
      }

.button-phone-size{
    width:300px;
    height:200px;
    font-size:50px;

}
.card .card-header {
    font-weight: normal;
  }
/* .testStylePhone{
    padding-left: 15%;} */